$translucentBlack: RGBA(0, 0, 0, 0.2);


body{
	box-sizing: border-box;
	font-family: 'Lato', sans-serif;
}

header{
	background-image: url(../../assets/img/header-bg.png);
	background-size: cover;

	nav{
		width: 100%;
		background-color: $translucentBlack;
		display: flex;
		justify-content: space-around;
		padding-bottom: 3%;
		padding-top: 3%;
		height: 25px;
//*********************************************
a
{
  text-decoration: none;
  color: white;
  
  transition: color 0.3s ease;
}

a:hover
{
  color: tomato;
}

#menuToggle
{
	width: 15%;
  display: block;
  position: relative;
  padding-left: 20px;

  
  z-index: 1;
  
  -webkit-user-select: none;
  user-select: none;
}

#menuToggle input
{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  
  cursor: pointer;
  
  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */
  
  -webkit-touch-callout: none;
}

/*
 * Just a quick hamburger
 */
#menuToggle span
{
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  
  background: #cdcdcd;
  border-radius: 3px;
  
  z-index: 1;
  
  transform-origin: 4px 0px;
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggle span:first-child
{
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}

#menuToggle input:checked ~ span
{
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: white;
}


#menuToggle input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

#menuToggle input:checked ~ span:nth-last-child(2)
{
  transform: rotate(-45deg) translate(0, -1px);
}

#menu
{
  width: 100vw;
  margin: -100px 0 0 -50px;
  padding: 50px;
  padding-top: 125px;
  
    background-color: rgba(14,14,14,.8);
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */
  
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menu li
{
  padding: 10px 0;
  font-size: 22px;
}

/*
 * And let's slide it in from the left
 */
#menuToggle input:checked ~ ul
{
  transform: none;
}
//*********************************************
		.logo{
			width: 60%;
		    display: flex;
		    justify-content: center;
		    align-items: center;
		    color: white;
		    text-transform: uppercase;
		    font-size: 2rem;
		}

		.cart{
			width: 23%;
			display: flex;
			justify-content: center;
			align-items: center;

			img{
				width: 20px;
				height: 20px;
				margin-right: 8px;
			}

			p{
				color: white;
				padding-top: 3px;
			}
		}

		.hamburger-menu{
			width: 13%;
			padding-left: 10px;
			display: flex;
			flex-direction: column;
			justify-content: space-around;

			.bar{
				width: 35px;
				max-width: 35px;
				height: 4px;
				background-color: white;
			}
		}
	}
}

.hero{
	width: 100%;
	background-image: url(../../assets/img/hero-bg.png);
    background-size: cover;
    text-align: center;
    color: white;

    .hero-content{
    	position: relative;
    	text-transform: uppercase;
    	display: flex;
	    flex-direction: column;
	    justify-content: space-around;
	    align-items: center;
		
		.hero-text{
			margin-top: 13%;
			margin-bottom: 7%;
			h2{
	    		width: 100%;
	    		margin: 0 auto;
	    		font-size: 1.2rem;
	    		line-height: 1.2;

    		sup{
    			width: 100%;
    			display: block;
    			font-size: .8rem;
    			}
    		}
		}
    	

    	img{
    		width: 50%;
		    margin: 0 auto;
		    left: 25%;
		    margin-bottom: 5%;
    	}

    	button{
		    background-color: RGBA(500, 89, 58, 1.00);
		    width: 150px;
		    height: 40px;
		    border-radius: 26px;
		    color: white;
		    font-size: 1rem;
		    text-transform: uppercase;
		    letter-spacing: 1.4px;
		    margin-bottom: 30%;
    	}
    }
}

.board-slider-wrap{
   width: 100%;
   padding-bottom: 10%;
   background-color: RGBA(14, 14, 14, 1.00);
	
	.board-slider-head{

		h1{
		   	position: relative;
		    margin: 0 auto;
		    color: white;
		    font-size: 2rem;
		    text-transform: uppercase;
		    text-align: center;
		    text-align: center;
		    width: 50%;
		    top: 70px;
		    z-index: 10;
		    font-style: italic;
		    font-weight: bolder;
    		text-decoration: underline;

   		}

	   img{
		   	position: relative;
		 	width: 50%;
		    margin: 0 auto;
		    left: 25%;
		    margin-bottom: 5%;
	   	}
	}

	.board-slider{
		ul{
			display: flex;
			justify-content: space-around;
			overflow: hidden;
			margin-bottom: 10%;

			li{
				transform: rotate(15deg);
			}			
		}
	}

	.slider-dots-wrap{
		width: 25%;
		display: flex;
		justify-content: space-around;
		margin: 0 auto;

		.dot{
			width: 13px;
			height: 13px;
			background-color: RGBA(100, 203, 224, 1.00);
			border-radius: 50px;

		}
	} 
}

.promos-wrap{
	width: 100%;
	
	

	.beginners-guide{
	    display: flex;
		flex-direction: column;
		padding-top: 3%;
		align-items: center;
		background-image: url(../../assets/img/beginners-guide-bg.png);
		background-color: RGBA(229, 88, 58, 1.00);
		background-size: cover;
		background-position: center center;
		padding-bottom: 20%;
		padding-top: 10%;

		h1{
			text-align: center;
			color: white;
			font-size: 2rem;
		    width: 100%;
		    max-width: 280px;
		    text-align: center;
		    text-transform: uppercase;
		    text-decoration: underline;
		    line-height: 1.4;
		    font-style: italic;
		    font-weight: 900;
		    margin-bottom: 5%;
		}

		button{
			width: 250px;
		    text-align: center;
		    height: 55px;
		    background-color: RGBA(72, 156, 174, 1.00);
		    color: white;
		    font-size: 1rem;
		    text-transform: uppercase;
		    letter-spacing: 1.4px;
		    align-items: center;
		    align-content: center;
		    justify-content: center;
		    border-radius: 25px;
		}
	}
}

.stream-events{
	width: 100%;
	display: flex;
	background-color: black;
	flex-direction: column;


	h1{
	   	position: relative;
	    margin: 0 auto;
	    color: white;
	    font-size: 2rem;
	    text-transform: uppercase;
	    text-align: center;
	    text-align: center;
	    width: 50%;
	    top: 70px;
	    z-index: 10;
	    font-style: italic;
	    font-weight: bolder;
		text-decoration: underline;
		letter-spacing: 1px;
		line-height: 1.2;

   		}

	 img{
	 	top: -30px;
	   	position: relative;
	 	width: 50%;
	    margin: 0 auto;
	    left: 3%;
	    margin-bottom: 5%;
   	}
}

.video-player{
	background-color: RGBA(14, 14, 14, 1.00);

	p{
		
	    width: 95%;
	    margin: 0 auto;
	    font-style: italic;
	    line-height: 1.2;
	    font-size: 0.7rem;
	}

	iframe{
		width: 100%;
		height: 300px;
	}

	.now-playing{
		width: 95%;
		margin: 0 auto;
		margin-top: 5%;
		display: flex;
		justify-content: space-between;
		color: RGBA(229, 89, 58, 1.00);
		margin-bottom: 5%;
		iframe{
			width: 25%;
			height: 70px;
		}

		button{
			border: 1px solid RGBA(137, 137, 137, 1.00);
			background-color: transparent;
		    width: 33%;
		    height: 25px;
		    border-radius: 25px;
		    align-self: center;
		    color: RGBA(137, 137, 137, 1.00);
		    text-transform: uppercase;
		    font-style: itallic;
		}

		.now-playing-text{
			display: flex;
		    flex-direction: column;
		    justify-content: center;
			h1{
			    margin-bottom: 5%;
			    font-size: 1rem;
			    text-transform: uppercase;
			    font-weight: 900;
			    
			}

			p{
				font-size: .7rem;
				text-transform: uppercase;
			}
		}
	}

	.video-description{
		color: RGBA(137, 137, 137, 1.00);
		margin-bottom: 5%;
	}

	.more-video{
		display: flex;
		justify-content: center;
		button{
			background-color: RGBA(500, 89, 58, 1.00);
		    width: 220px;
		    height: 50px;
		    border-radius: 26px;
		    color: white;
		    font-size: 1rem;
		    text-transform: uppercase;
		    letter-spacing: 1.4px;
		    margin-bottom: 20%;
		}
	}
}

.catalina-hills{
	width: 95%;
	display: flex;
	justify-content: space-around;
    margin: 0 auto;
    border-top: 2px solid RGBA(40, 40, 40, 1.00);
    border-bottom: 2px solid RGBA(40, 40, 40, 1.00);
    padding-top: 5%;
    padding-bottom: 5%;
    margin-bottom: 10%;
    
    img{
    	width: 40%;
    	height: 90px;
    }

    .catalina-hills-text{
    	width: 52%;
    	color: RGBA(137, 137, 137, 1.00);

    	h1{
    		text-transform: uppercase;
    		margin-bottom: 5%;
    		color: white;
    		font-size: .9rem;
    	}

    	h2{
    		text-transform: uppercase;
    		color: white;
    		font-size: .8rem;
    		margin-bottom: 3%;
    	}
    }

}

.news-letter-wrap{
	margin: 0 auto;
	background-color: RGBA(23, 23, 23, 1.00);

	
	.news-letter-content{
		width: 90%;
		margin: 0 auto;
		padding-top: 10%;
		padding-bottom: 10%;

		h1{
			color: white;
			font-size: 1.9rem;
		    text-transform: uppercase;
		    width: 84%;
		    line-height: 1.2;
		    margin-bottom: 5%;
		}

		p{
			color: RGBA(166, 166, 166, 1.00);
			text-transform: uppercase;
			text-align: center;
			line-height: 1.4;

			span{
				color: RGBA(229, 89, 59, 1.00)
			}
		}



		form{
			margin: 0 auto;
			display: flex;
			justify-content: space-around;
			margin-bottom: 10%;

			input{
				background-color: transparent;
				width: 55%;
			    height: 32px;
			    border-radius: 25px;
			    padding-left: 15px;
			    font-color: white;
			}

			button{
				background-color: RGBA(96, 181, 197, 1.00);
			    width: 30%;
			    border-radius: 25px;
			    height: 40px;
			    color: white;
		        font-size: 1rem;
			    text-transform: uppercase;
			}
		}	
	}

	.drop-down-wrap{
		display: flex;
		flex-direction: column;

		.drop-down{
			display: flex;
			justify-content: space-around;
			border-top: 2px solid RGBA(40, 40, 40, 1.00);
    		border-bottom: 2px solid RGBA(40, 40, 40, 1.00);
		    padding-top: 5%;
		    padding-bottom: 5%;

			h1{
				width: 70%;
				color: white;
				font-size: 1.2rem;
				text-transform: uppercase;
			}

			a{
				img{
					width: 75%;
				}
			}
		}
	}
}

footer{
	background-color: RGBA(23, 23, 23, 1.00);
	padding-top: 10%;
	padding-bottom: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

	.social{
		display: flex;
		width: 45%;
		justify-content: space-evenly;
		margin: 0 auto;
		margin-bottom: 10%;
		img{
			width: 65%;
		}
	}

	address{
		color: RGBA(166, 166, 166, 1.00);
	}
}


@media screen and (min-width: 768px){
	.hero{
		.hero-content{

			img{
				width: 55%;
				margin-bottom: 5%;
			}

			button{
				width: 330px;
				height: 80px;
				border-radius: 50px;
				font-size: 1.5rem;
			}
			.hero-text{
				h2{
					font-size: 2.4rem;

					sup{
						font-size: 1.7rem;
					}
				}
			}
		}
	}

	.board-slider-wrap{
		.board-slider-head{
			img{
				max-width: 380px;
			}
			h1{
				font-size: 4rem;
				top: 150px;
				left: -30px;
			}
		}

		.board-slider{
			ul{
				justify-content: space-evenly;
			}
		}
	}

	.promos-wrap{
		.beginners-guide{
			h1{
				width: 70%;
				max-width: 535px;
				font-size: 3rem;
			}

			button{
				width: 470px;
				height: 80px;
				border-radius: 50px;
				font-size: 2rem;
			}
		}

		.stream-events{
			width: 100%;

			h1{
				font-size: 4rem;
				top: 190px;
			}

			img{
				max-width: 350px;
			}
		}

		.video-player{
			iframe{
				height: 470px;
			}

			.now-playing{
				iframe{
					width: 38%;
					height: 240px;
				}

				button{
						height: 35px;
					}

				.now-playing-text{
					h1{
						font-size: 1.3rem;

					}

					p{
						font-size: 1rem;
						width: 96%;
					}
				}
			}
			.video-description{
				font-size: 1rem;
			}

			.catalina-hills{
				img{
					width: 50%;
					height: 200px;
					margin-right: 40px;
				}

				.catalina-hills-text{
					h1{
						font-size: 1.5rem;
					}

					h2{
						font-size: 1.2rem;
					}

					p{
						font-size: .9rem;
					}
				}
			}

			.more-video{
				button{
					margin-bottom: 10%;
				}
			}
		}
	}

	footer{
		padding-top: 10%;
		padding-bottom: 5%;

		.social{
			margin-bottom: 5%;
		}
	}
}









