$translucentBlack: RGBA(0, 0, 0, 0.2);


body{
	box-sizing: border-box;
	font-family: 'Lato', sans-serif;
}

header{
	background-image: url(../../assets/img/header-bg.png);
	background-size: cover;

	nav{
		width: 100%;
		background-color: $translucentBlack;
		display: flex;
		justify-content: space-around;
		padding-bottom: 3%;
		padding-top: 3%;

		.logo{
			width: 60%;
		    display: flex;
		    justify-content: center;
		    align-items: center;
		    color: white;
		    text-transform: uppercase;
		    font-size: 2rem;
		}

		.cart{
			width: 23%;
			display: flex;
			justify-content: center;
			align-items: center;

			img{
				width: 20px;
				height: 20px;
				margin-right: 8px;
			}

			p{
				color: white;
				padding-top: 3px;
			}
		}

		.hamburger-menu{
			width: 13%;
			padding-left: 10px;
			display: flex;
			flex-direction: column;
			justify-content: space-around;

			.bar{
				width: 35px;
				max-width: 35px;
				height: 4px;
				background-color: white;
			}
		}
	}
}

.hero{
	width: 100%;
	background-image: url(../../assets/img/hero-bg.png);
    background-size: cover;
    text-align: center;
    color: white;

    .hero-content{
    	position: relative;
    	text-transform: uppercase;
    	display: flex;
	    flex-direction: column;
	    justify-content: space-around;
	    align-items: center;
		
		.hero-text{
			margin-top: 13%;
			margin-bottom: 7%;
			h2{
	    		width: 100%;
	    		margin: 0 auto;
	    		font-size: 1.2rem;
	    		line-height: 1.2;

    		sup{
    			width: 100%;
    			display: block;
    			font-size: .8rem;
    			}
    		}
		}
    	

    	img{
    		width: 50%;
		    margin: 0 auto;
		    left: 25%;
		    margin-bottom: 5%;
    	}

    	button{
		    background-color: RGBA(500, 89, 58, 1.00);
		    width: 150px;
		    height: 40px;
		    border-radius: 26px;
		    color: white;
		    font-size: 1rem;
		    text-transform: uppercase;
		    letter-spacing: 1.4px;
		    margin-bottom: 30%;
    	}
    }
}

.board-slider-wrap{
   width: 100%;
   padding-bottom: 2vh;
   background-color: RGBA(14, 14, 14, 1.00);
	
	.board-slider-head{

		h1{
		   	position: relative;
		    margin: 0 auto;
		    color: white;
		    font-size: 2rem;
		    text-transform: uppercase;
		    text-align: center;
		    text-align: center;
		    width: 50%;
		    top: 70px;
		    z-index: 10;
		    font-style: italic;
		    font-weight: bolder;
    		text-decoration: underline;

   		}

	   img{
		   	position: relative;
		 	width: 50%;
		    margin: 0 auto;
		    left: 25%;
		    margin-bottom: 5%;
	   	}
	}

	.board-slider{
		ul{
			display: flex;
			justify-content: space-around;
			overflow: hidden;

			li{
				transform: rotate(15deg);
			}			
		}
	}

	.slider-dots-wrap{
		width: 50%;
		display: flex;
		justify-content: space-around;
		margin: 0 auto;

		.dot{
			width: 20px;
			height: 20px;
			background-color: RGBA(100, 203, 224, 1.00);
			border-radius: 50px;

		}
	} 
}

.promos-wrap{
	width: 100%;
	
	

	.beginners-guide{
	    display: flex;
		flex-direction: column;
		padding-top: 3%;
		align-items: center;
		background-image: url(../../assets/img/beginners-guide-bg.png);
		background-color: RGBA(229, 88, 58, 1.00);
		background-size: cover;
		background-position: center center;
		padding-bottom: 20%;
		h1{
			text-align: center;
			color: white;
			font-size: 2rem;
		    width: 100%;
		    text-align: center;
		    text-transform: uppercase;
		    text-decoration: underline;
		    line-height: 1.4;
		    font-style: italic;
		    font-weight: 900;
		    margin-bottom: 5%;
		}

		button{
			width: 300px;
		    text-align: center;
		    height: 55px;
		    background-color: RGBA(72, 156, 174, 1.00);
		    color: white;
		    font-size: 1rem;
		    text-transform: uppercase;
		    letter-spacing: 1px;
		    align-items: center;
		    align-content: center;
		    justify-content: center;
		    border-radius: 25px;
		}
	}
}

.stream-events{
	width: 100%;
	display: flex;
	background-color: black;
	flex-direction: column;


	h1{
	   	position: relative;
	    margin: 0 auto;
	    color: white;
	    font-size: 2rem;
	    text-transform: uppercase;
	    text-align: center;
	    text-align: center;
	    width: 50%;
	    top: 70px;
	    z-index: 10;
	    font-style: italic;
	    font-weight: bolder;
		text-decoration: underline;
		letter-spacing: 1px;
		line-height: 1.2;

   		}

	 img{
	 	top: -30px;
	   	position: relative;
	 	width: 50%;
	    margin: 0 auto;
	    left: 3%;
	    margin-bottom: 5%;
   	}
}

.video-player{
	background-color: RGBA(14, 14, 14, 1.00);

	p{
		
	    width: 95%;
	    margin: 0 auto;
	    font-style: italic;
	    line-height: 1.2;
	    font-size: 0.7rem;
	}

	iframe{
		width: 100%;
		height: 300px;
	}

	.now-playing{
		width: 95%;
		margin: 0 auto;
		margin-top: 5%;
		display: flex;
		justify-content: space-around;
		color: RGBA(229, 89, 58, 1.00);
		margin-bottom: 5%;
		iframe{
			width: 25%;
			height: 70px;
		}

		button{
			border: 1px solid RGBA(137, 137, 137, 1.00);
			background-color: transparent;
		    width: 27%;
		    height: 25px;
		    border-radius: 25px;
		    align-self: center;
		    color: RGBA(137, 137, 137, 1.00);
		    text-transform: uppercase;
		    font-style: itallic;
		}

		.now-playing-text{
			display: flex;
		    flex-direction: column;
		    justify-content: center;
			h1{
			    margin-bottom: 5%;
			    font-size: 1rem;
			    text-transform: uppercase;
			    font-weight: 900;
			    
			}

			p{
				font-size: .7rem;
				text-transform: uppercase;
			}
		}
	}

	.video-description{
		color: RGBA(137, 137, 137, 1.00);
		margin-bottom: 5%;
	}

	.more-video{
		display: flex;
		justify-content: center;
		button{
			background-color: RGBA(500, 89, 58, 1.00);
		    width: 150px;
		    height: 40px;
		    border-radius: 26px;
		    color: white;
		    font-size: 1rem;
		    text-transform: uppercase;
		    letter-spacing: 1.4px;
		    margin-bottom: 20%;
		}
	}
}

.catalina-hills{
	width: 95%;
	display: flex;
	justify-content: space-around;
    margin: 0 auto;
    border-top: 2px solid RGBA(40, 40, 40, 1.00);
    border-bottom: 2px solid RGBA(40, 40, 40, 1.00);
    padding-top: 5%;
    padding-bottom: 5%;
    margin-bottom: 10%;
    
    img{
    	width: 40%;
    	height: 90px;
    }

    .catalina-hills-text{
    	width: 52%;
    	color: RGBA(137, 137, 137, 1.00);

    	h1{
    		text-transform: uppercase;
    		margin-bottom: 5%;
    		color: white;
    		font-size: .9rem;
    	}

    	h2{
    		text-transform: uppercase;
    		color: white;
    		font-size: .8rem;
    		margin-bottom: 3%;
    	}
    }

}

.news-letter-wrap{
	margin: 0 auto;
	background-color: RGBA(23, 23, 23, 1.00);
	
	.news-letter-content{
		width: 95%;
		margin: 0 auto;
		h1{
			color: white;
		}	
	}
}














